body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: Arial, sans-serif; /* Ensure all text uses Arial */
}

.header {
    position: relative;
    text-align: center;
    color: white;
    font-size: 36px;
}

.header-image-crop {
    height: 400px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; /* Ensure this container is positioned to act as a reference for absolute positioning */
}

.header-image {
    width: 100%; /* Keep the original width */
    object-fit: cover; /* Cover the container without distorting the aspect ratio */
    object-position: center; /* Center the image within the container to focus on the middle */
}

.overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2em;
    color: white; /* Assuming you want the text in white to stand out against the background image */
    width: 100%; /* Ensures text alignment is responsive within the container */
    text-align: center; /* Centers the text horizontally */
}

.video-section {
    position: relative;
    color: white;
}

.background-video {
    width: 100%;
    height: auto;
}

.video-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
}

.people-section, .contact-section {
    text-align: center;
    padding: 20px;
}

.founder-image {
    width: 150px;
    height: auto;
    border-radius: 50%;
}

form input, form textarea {
    display: block;
    margin: 10px auto;
    padding: 10px;
    width: 90%;
    max-width: 400px;
}

/* General link hover effect */
a {
    transition: color 0.3s ease; /* Smooth transition for color change */
    color: #000; /* Default link color */
}

a:hover {
    color: #007bff; /* Change color on hover */
    text-decoration: none; /* Optional: remove underline on hover */
}

/* Enhancing button hover effect */
form button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    cursor: pointer;
    background-color: #007bff; /* Button background color */
    color: white; /* Button text color */
    border: none;
    transition: background-color 0.3s ease; /* Smooth transition for background color */
}

form button:hover {
    background-color: #0056b3; /* Darker shade on hover */
}

